# Ignore CI build directory
build/
xcuserdata
cmake-build-debug/
.idea/
bazel-bin
bazel-genfiles
bazel-googletest
bazel-out
bazel-testlogs
# python
*.pyc
/googletest/msvc/2010/gtest.VC.VC.opendb
/googletest/msvc/2010/gtest.VC.db
/googletest/msvc/2015/gtest.VC.VC.opendb
/googletest/msvc/2015/gtest.VC.db
/googletest/msvc/2015/.vs/gtest/v14/.suo
*.suo
/googletest/msvc/2015/Win32/Debug/v140
/googletest/output/Win32/Debug/v140
