# Set the default behavior, in case local git does not set core.autocrlf
* text=auto

# Explicitly declare text files to always be normalized and 
# converted to native line endings on checkout
*.c text
*.h text
*.md text
*.py text
*.ipynb text
.gitattributes
.gitignore

# Windows only files, CRLF line endings on checkout
# Visual Studio 2017
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.vcxproj.user text eol=crlf

# Binary files, should not be modified
*.png binary
*.jpg binary